<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.savills.apigateway.generator.mapper.InvoiceDetail0Mapper">

    <resultMap id="BaseResultMap" type="com.savills.apigateway.generator.domain.InvoiceDetail0">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="invoiceHeaderId" column="invoice_header_id" jdbcType="BIGINT"/>
            <result property="subtotal" column="subtotal" jdbcType="DECIMAL"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="BIT"/>
            <result property="siteId" column="site_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_name,invoice_header_id,
        subtotal,creator,create_time,
        updater,update_time,deleted,
        site_id
    </sql>
</mapper>
